!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Comment on the Movies
    %link{:href => "http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css", :media => "screen", :rel => "stylesheet"}/
    %link{:href => "main.css", :media => "screen", :rel => "stylesheet"}/
  %body
    %h1
      Comment on the Movies
    %table#MovieTable
      %tr.header_row
        %th Movie Name
        %th Rating
        %th Opening Day
        %th Is Critic's Pick?
        %th NYT Reviewer
        %th # of Comments
        %th
          %select#MovieDateRange
            / Sinatra doesn't have the same form helpers that Rails does (AFAIK), so I'm putting together by hand here.
            / If I'm wrong, please let me know.
            - (-@current_month..-1).each do |month|
              %option{:value => "#{Date.today.year}-#{"%02d" % month.abs}"}= "#{Date::MONTHNAMES[month.abs]} #{Date.today.year}"
            - (-12..-1).each do |month|
              %option{:value => "#{Date.today.year() - 1}-#{"%02d" % month.abs}"}= "#{Date::MONTHNAMES[month.abs]} #{Date.today.year() - 1}"
    
    %script#TMPMovieRows{ :type => "text/x-jquery-tmpl"}
      %td ${attributes.display_title}
      %td ${attributes.mpaa_rating}
      %td ${attributes.opening_date}
      %td ${attributes.critics_pick}
      %td ${attributes.byline}
      %td 0

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8689104-5']);
      _gaq.push(['_trackPageview']);

      $(function() {
        var ga = document.createElement('script'); 
        ga.type = 'text/javascript'; 
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      });

    / We're going all CDN crazy with googleapis and cdnjs
    / http://www.cdnjs.com has insane uptime and serves a TON of libraries across Amazon Cloudfront & Route 53 :)
    / Required Libraries
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}
    %script{:src => "http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.5/underscore-min.js"}
    %script{:src => "http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"}
    %script{:src => "http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"}
    %script{:src => "http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js"}

    / The backbone app scripts
    / [1] Models
    %script{:src => "javascripts/app/models/movie.js"}
    %script{:src => "javascripts/app/models/comment.js"}
                               
    / [2] Collections          
    %script{:src => "javascripts/app/collections/movies.js"}
    %script{:src => "javascripts/app/collections/comments.js"}
                               
    / [3] Views                
    %script{:src => "javascripts/app/views/movie_table_row.js"}
    %script{:src => "javascripts/app/views/movie_table.js"}

    / [4] Controller - Just one per app.
    %script{:src => "javascripts/app/controller.js"}

    :javascript
      $(function(){
        // Create an instance of the app
        window.COTM = new CommentOnTheMovies();

        // Start the app
        window.COTM.start();
      });
